body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-height: 100%;
    background-color: dimgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
    width: 200px;
}
select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px; 
    border-radius: 5px;

}

option {padding-bottom: 20px;}
button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color:seashell;
}
button.search{
  
   margin-left: 40px;
}
script {
  width: 500px;
}